<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
<<<<<<< HEAD
    <form method="POST" action="/piglatinize">
      <h3>Enter your phrase: <input type="text" name="user_phrase"></h3>
      <input type="submit">
=======
    <form method="POST" action="/pig_latinized">
      <p></p>
>>>>>>> e3b2c34e5ab4b9426855407d413e0227829bb99e
    </form>
  </body>
</html>